svg #ring {
  opacity: 0.2;
}

svg .server {
}

svg .follower {
  fill: red;
}

svg .candidate {
  fill: yellow;
}

svg .leader {
  fill: green;
}

svg .server path {
  fill: none;
  stroke: black;
}

svg .server text {
  text-anchor: middle;
  alignment-baseline: central;
  text-align: center';
}

svg .message.request {
  fill: blue;
  stroke: blue;
}

svg .message.reply {
  fill: none;
  stroke: blue;
}
